body {
	font-size: 12px;
}

button.square-btn {
	height: 5.5rem;
	width: 5.5rem;
}

.square-btn.settings-btn {
	margin: 1rem 1rem 0rem 0rem;
	font-size: 0.8rem;
}

#toolbar,
#settings {
	display: none;
	flex-flow: row wrap;
	justify-content: space-evenly;
	min-width: 20vw;
	width: 30vw;
	max-width: 50vw;
}

#toolbar > h2, #settings > h2 {
	width: 100%;
}

#port-list {
	width: 50%;
	background-color: lightgray;
}
