<!DOCTYPE html>
<html>
	<head>
		<title>Scale App</title>
		<link rel="stylesheet" href="../styles/style.css" />
	</head>
	<body>
		<h1 id="scale-name"></h1>

		<div id="port-list"></div>

		<p id="notifications"></p>

		<p id="specification"></p>

		<p id="result"></p>

		<div id="toolbar">
			<h2>Commands</h2>
		</div>

		<div id="settings">
			<h2>Settings</h2>
		</div>

		<script src="../setup/scales.js" type="module"></script>
		<script src="../setup/config.js" type="module"></script>
		<script src="../app.js" type="module"></script>
	</body>
</html>
