<!DOCTYPE html>
<html>
	<head>
		<title>Context Menu</title>
		<link rel="stylesheet" href="../styles/style.css" />
	</head>
	<body>
		<div>
			<p id="notifications"></p>
		</div>

		<div>
			<p id="specification"></p>
		</div>

		<h1>Vaga</h1>

		<div id="toolbar"></div>

		<h2>Settings</h2>

		<div id="settings">
			<button class="square-btn" value="software-version">
				Stable weight only
			</button>
		</div>

		<!-- <table id="weights">
			<thead>
				<th>
					<td>Weight</td>
					<td>Unit</td>
				</th>
			</thead>
			<tbody>
			</tbody>
		</table> -->

		<script src="../app.js"></script>
	</body>
</html>
